<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title" >VENDAS</mat-card-title>
    <mat-card-subtitle class="subtitle">
      Responsável por cadastrar a venda e remover o produto do estoque
    </mat-card-subtitle>
</mat-card>

<!--
<ul>
  <li *myFor="let n em [1, 2, 3]"><mat-card class="home mat-elevation-z3">
    <a routerLink="/pessoa">
      <mat-card-title class="title" >Bem Vindo!</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Sistema para trabalho de integração de Arquitetura de sistema - PUC Minas
      </mat-card-subtitle>

    </a>
  </mat-card></li>
</ul>
-->
