.formulario-pessoa {
  min-width: 250px;
  max-width: 2400px;
  width: 100%;
}

.fw {
  width: 100%;
}

.middle-width {
  width: 50%;
}

.wd-60 {
  width: 60%;
}

.wd-15 {
  width: 15%;
}

.wd-25 {
  width: 25%;
}

td {
  padding-right: 8px;
}

.mat-radio-button {
  padding-right: 15px;
}

.action{
  display: flex;
  align-items: center;
  justify-content: right;
}

.action button{
  margin-right: 8px;
}


